target
Cargo.lock
**/*~
**/node_modules
**/.DS_Store
**/build
**/index.node
**/artifacts.json
cli/lib
create-neon/dist
create-neon/create-neon-test-project
create-neon/create-neon-manual-test-project
test/cli/lib
npm-debug.log
rls*.log
