# Rust
target
rls*.log

# Created by `trybuild` ui tests
wip
**/*~

# Node
**/node_modules
npm-debug.log
bun.lock

# JS build
**/build
**/dist
cli/lib
test/cli/lib

# Neon build
**/index.node
**/artifacts.json
pkgs/create-neon/create-neon-test-project
pkgs/create-neon/create-neon-manual-test-project

# System
**/.DS_Store
